.nav-bar {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 10vh;
  justify-content: space-around;
  align-items: flex-start;
  background-color: black;
}

.cd {
  font-family: Rockwell;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  color: #95eb28;
  margin-left: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.cursor {
  margin-top: -1px;
  margin-left: 3px;
  -webkit-transform: scaleX(3);
  transform: scaleX(3);
  animation: blinker 1s linear infinite;
}

.container {
  height: 90vh;
  /* background-image: url("../assets/matrix-bg.svg"); */
  background-color: #000000;
  /* background-size; */
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.terminal {
  grid-area: terminal;
  background-image: url("../assets/terminal-new.svg");
  background-size: contain;
  background-repeat: no-repeat;
  grid-column: 3/12;
  grid-row: 3/10;
}

.terminal-text {
  grid-column: 3/12;
  grid-row: 5/10;
  width: 628px;
  height: 40vh;
  margin-top: 100px;
  margin-left: 15px;
  color: antiquewhite;
  font-size: 12px;
}

@media screen and (max-width: 900px) {
  .terminal-text {
    grid-column: 3/12;
    grid-row: 5/10;
    height: 40.3%;
    color: antiquewhite;
    width: auto;
    margin: 40px 0;
    font-size: 10px;
  }
}

@keyframes blinker {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
