.splash-page {
  background-color: black;
  height: 100vh;
  width: 100vw;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  height: 10vh;
  justify-content: space-around;
  align-items: flex-start;
  background-color: black;
}

.cd {
  font-family: Rockwell;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  color: #95eb28;
  margin-left: 5%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.cursor {
  margin-top: -1px;
  margin-left: 3px;
  -webkit-transform: scaleX(3);
  transform: scaleX(3);
  animation-name: blinker;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
  animation-duration: 1s;
}

.container {
  height: 90vh;
  background-image: url("../assets/matrix-bg.svg");
  background-color: #000000;
  background-size: contain;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.terminal {
  grid-area: terminal;
  background-image: url("../assets/terminal-new.svg");
  background-size: contain;
  background-repeat: no-repeat;
  grid-column: 4/12;
  grid-row: 3/10;
}

.terminal-text {
  text-align: left;
  grid-column: 3/12;
  grid-row: 5/10;
  width: 93%;
  height: 40vh;
  margin-top: 13%;
  margin-left: 15px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: #95eb28;
  font-size: 13px;
  line-height: 170%;
}

@media screen and (max-width: 900px) {
  .terminal {
    grid-column: 1/15;
    margin: 0 5px;
  }

  .terminal-text {
    height: 40.3%;
    color: antiquewhite;
    color: #95eb28;
    font-size: 8px;
  }
}

@media screen and (max-width: 450px) {
  .cd {
    font-size: 11px;
  }

  .terminal-text {
    margin-left: 10px;
  }
}

.warning {
  display: flex;
  width: 90%;
  position: fixed;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.warning .alert {
  display: none;
  height: 8vh;
  width: 100%;
  animation: warning 0.8s linear infinite;
}

/* .info {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  align-content:center;
  flex-direction: column;
  position: fixed;
  bottom: 5%;
  background-color: black;
  color: #95eb28;
}

.info .text-initiate, .info .text-ipv4 {
  align-self:center;
  color: #95eb28;
  /* padding: 10px 0; 
  font-family: Rockwell;
  text-align: left;
  line-height: 150%;
  width: 70%;
} */

.one-line {
  display: flex;
  justify-content: flex-start;
}

.root {
  color: rgb(204, 201, 201);
}

.terminal-text .msg {
  color: rgb(3, 165, 165);
  padding: 10px 0;
  line-height: 150%;
}

.one-line :first-child {
  padding-right: 10px !important;
}

@keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes warning {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
